<!DOCTYPE html>
<html lang="en">
<!--Página para lançar as faltas-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>FeedBack</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="../css/materialize.css" />
    <link type="text/css" rel="stylesheet" media="screen,projection" href="../css/style.css" />
</head>
<body class="grey darken-1">
    <main>
        <!--Parte padrão-->
        <div class="row">
            <nav class="black" role="navigation">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class=" medium material-icons">menu</i></a>
                <center><span class="light-blue-text font-head">FeedBack</span></center>
            </nav>
        </div>


        <div class="nav-wrapper container">
            <!--Menu inicio-->

            <ul id="slide-out" class="side-nav fixed grey darken-1 z-depth-5">
                <li>
                    <div class="user-view">
                        <div class="background black">

                        </div>
                        <a href="#!user"><img class="circle" src="../img/user3.png"></a>
                        <a href="#!name"><span class="white-text name">John Doe</span></a>
                        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                        <button class="btn-flat waves-effect waves-light blue" type="reset">Sair</button><!--Botão para logout-->
                        <a href="PerfilProf.html"><button class="btn-flat waves-effect waves-light blue"> Editar</button></a><!--Botão para editar perfil-->
                    </div>
                </li>
                <li><a href="prof.html"><i class="material-icons light-blue-text ">home</i>Página Inicial</a></li>
                <li><a href="Aula.html"><i class="material-icons light-blue-text ">class</i>Aula</a></li>
                <li><a href="Boletim.html"><i class="material-icons light-blue-text ">collections_bookmark</i>Boletim</a></li>
                <li><a href="Turma_Falta.html"><i class="material-icons light-blue-text ">error</i>Faltas</a></li>
                <li><a href="#!"><i class="material-icons light-blue-text">flash_on</i>Aplicação de testes</a></li>
                <li><a href="MensagemProf.html"><i class="material-icons light-blue-text">group</i>Mensagens do aluno </a></li>
                <li><a href="TrabExec.html"><i class="material-icons light-blue-text">chrome_reader_mode</i>Trabalhos e Exercícios</a></li>
                <li><a href="EntregasProf.html"><i class="material-icons light-blue-text">done_all</i>Entregas Recebidas</a></li>
                <li><a href="#!"><i class="material-icons light-blue-text">close</i>Cancelemento de Matricula</a></li>


            </ul>
        </div><!--Menu Fim-->


    </main>

    <div class="relativo" style="bottom:19px">
        <div style="position:initial;">
            <div class="divider"></div>
            <nav class="pos row black ">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="EntregasProf.html" class="breadcrumb">Entregas</a>
                        <a href="Feedback.html" class="breadcrumb">Comentario</a>

                    </div>
                </div>
            </nav>
        </div>
        </div>

        <div class="pos pos-cel" style="position:initial">
            <div class="container ">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Nome Aluno</span>
                            <textarea></textarea>
                        </div>
                        <div class="card-action">
                            <center><a href="#">Enviar</a></center>
                        </div>
                    </div>
                </div>
            </div>
            </div>




            <footer class="page-footer black">
                <!--Rodapé-->
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Impacta</h5>
                            <p class="grey-text text-lighten-4">A Faculdade Impacta Tecnologia nasceu da percepção de um Grupo, que desde 1998 é referência em TI, Gestão e Design, para suprir a falta de mão de obra especializada do mercado de tecnologia e oferecer uma formação completa e multidisciplinar aos alunos. </p>


                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Contato</h5>
                            <ul>
                                <li class="white-text">Comercial</br>11 3254-8300</li>
                                <li class="white-text">Secretaria</br>11 5593-5345</li>
                            </ul>
                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Endereço</h5>
                            <ul>
                                <li class="white-text">Unidade - Barra Funda Avenida Rudge, 315 - Barra Funda São Paulo / SP</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        CNPJ: 59.069.914/0001-51
                    </div>
                </div>
            </footer>
        </div>



    <!--  Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>

</body>
</html>