{% extends 'Aluno/BaseAluno.html' %}

{% block titulo %} Editar - Perfil {% endblock %}
{% block nome_pagina %}Perfil{% endblock %}

{% block corpo %}
    <div class="pos respon">
    <table class="highlight bordered responsive-table centered" >
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Arquivo</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Guilherme</td>
                <td>21/03/2017</td>
                <td>teste.pdf <br /><button class="btn-flat waves-effect waves-light blue">Baixar</button></td>
            </tr>
            <tr>
                <td>Stefany</td>
                <td>11/03/2017</td>
                <td>teste.xml <br /><button class="btn-flat waves-effect waves-light blue">Baixar</button></td>
            </tr>
            <tr>
                <td>Gabriel</td>
                <td>01/03/2017</td>
                <td>teste.jpg <br /><button class="btn-flat waves-effect waves-light blue">Baixar</button></td>
            </tr>

        </tbody>
    </table>

        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active blue"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>

    </div>

{% endblock %}

   