{% extends 'Aluno/BaseAluno.html' %}

{% block titulo %} Recepção {% endblock %}
{% block nome_pagina %}Recepção{% endblock %}

{% block corpo %}
<div class="pos respon" style="margin-left:500px;">
    <table class="highlight bordered responsive-table centered" >

		<tbody class="botao">
                <a href="/trabalhos"><button id="redondo" class="btn-flat waves-effect waves-light blue"  style="width:500px; height:100px; margin-left:-220px">Trabalhos</button></a><br/><br/>
                <a class="botao" href="/exercicios"><button id="redondo" class="btn-flat waves-effect waves-light blue" style="width:500px; height:100px; margin-left:-220px">Exercicios</button></a><br/><br/>
                <a class="botao" href="/envio"><button id="redondo" class="btn-flat waves-effect waves-light blue" style="width:500px; height:100px; margin-left:-220px">Envio dos Exercicios/Trabalhos</button></a>
            </tr>

        </tbody>
    </table>

    </div>



   
    <div>

{% endblock %}
