{% extends 'Aluno/BaseAluno.html' %}

{% block titulo %} Boletim / Visualizar {% endblock %}
{% block nome_pagina %}Boletim / Visualizar{% endblock %}

{% block corpo %}

    <div class="relativo" style="bottom:50px">
        <div class="pos pos-cel" style="position:initial">
            <div class="col s12">
                <table class="highlight bordered responsive-table centered">
                    <thead>
                        <tr>
                            <th>Aluno</th>
                            <th>MB1</th>
                            <th>SUB1</th>
                            <th>MB2</th>
                            <th>SUB2</th>
                            <th>EXAME</th>
                            <th>Final</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Sieghart</td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>

                        </tr>


                    </tbody>

                </table>
                <br />
                </div>
            </div>
        </div>

        <div class="relativo" style="bottom:50px">
        <div class="pos pos-cel" style="position:initial">
            <div class="col s12">
                <table class="highlight bordered responsive-table centered">
                    <thead>
                        <tr>
                            <th>Disciplina</th>
                            <th>SQL</th>
                            <th>Python</th>
                            <th>HTML5</th>
                            <th>CSS</th>
                            <th>PHP</th>
                            <th>Java</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Faltas</td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>
                            <td><input disabled="" size="4" type="label" maxlength="4"></td>
                            
                        </tr>


                    </tbody>

                </table>
                <br />
                </div>
            </div>
        </div>
{% endblock %}